<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
	  <title>TwitOff</title>
    {% endblock %}
    <!-- Main Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!-- FLASH MESSAGING -->
    <!-- see: http://flask.pocoo.org/docs/1.0/patterns/flashing/#flashing-with-categories -->
    <!-- see: https://getbootstrap.com/docs/4.3/components/alerts/ -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- SITE NAVIGATION -->
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">TwitOff</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
         <li class="nav-item">
           <a class="nav-link" href="/users/add">Add Users</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/users/set">Predict</a>
        </ul>

      </div>
    </nav>

      <!-- PAGE CONTENTS -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- FOOTER -->
      <div id="footer">
        <hr>
        &copy; Copyright 2019
        <a href="https://www.github.com">GitHub</a>
      </div>
    </div>

    <!-- JAVASCRIPT SECTION -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">

        console.log("Thanks for the page visit!")

        // closes data-dismiss="alert" flash messages
        // see: https://getbootstrap.com/docs/4.3/components/alerts/#javascript-behavior
        //$().alert('close')

    </script>

</body>

</html>
