<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
</head>

<body>

    <h1>Sign Up!</h1>

    <p>To create your new account, enter a new user name and email:</p>

    <form action="/create-new-user", method="POST">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="text" name="email" placeholder="example@email.com">

        <button>Create Account</button>
    </form>

</body>
</html>
